@media (max-width: 420px) {
    /* … */
  }

@media (max-width: 600px) {
    /* … */
  }

@media (min-width: 600px) {
    /* … */
  }

@media (min-width: 768px) {
    .header-text-list{
        gap: 20px;
    }
  }

@media (min-width: 992px) {
    .header-text-list{
        gap: 40px;
    }
  }

@media (min-width: 1200px) {
    .header-text-list{
        gap: 80px;
    }
  }